<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration Form</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='/site_fuel_international_logo.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
        $(function () {
            $("#datepickerBirthday").datepicker();
        });
    </script>
  </head>
  <body>
    <div id="wrapper">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <p class="{{ category }}">{{message}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <form action="/process" method="post">
        <input class="row-item" type="hidden" name="id" value="1234567890">
        <h4 class="row-item">First Name:</h4>
        <input class="row-item" type="text" name="first_name" value="{{session['first_name']}}">
        <h4 class="row-item">Last Name:</h4>
        <input class="row-item" type="text" name="last_name" value="{{session['last_name']}}">
        <h4 class="row-item">Email:</h4>
        <input class="row-item" type="text" name="email" value="{{session['email']}}">
        <h4 class="row-item">Birthday:</h4>
        <input class="row-item" type="text" name="birthday" value="{{session['birthday']}}" id="datepickerBirthday">
        <h4 class="row-item">Password:</h4>
        <input class="row-item" type="password" name="password" value="{{session['password']}}">
        <h4 class="row-item">Confirm:</h4>
        <input class="row-item" type="password" name="password_confirm" value="{{session['password_confirm']}}">
        <input class="button" type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>